<footer>
    <div class="row">
        <div class="col">
            <img src="https://unsplash.com/photos/a-woman-in-a-white-dress-sitting-on-a-couch-9Oi6BLjDwJI" height="100%"
            width="100%" class="logo">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam vel non ea distinctio deserunt eveniet numquam possimus, ut nemo ipsa!</p>
        </div>
        <div class="col">
            <h3>Office</h3>
            <p>IPTL Road</p>
            <p>Wankhade road, Mumbai</p>
            <p>At post mumbai</p>
            <p class="mail">akshaysuryawanshigmail.com</p>
            <h4>+91-9423045737</h4>
        </div>
        <div class="col">
            <h3>Get Help</h3>
            <p>FAQ</p>
            <p>Shopping</p>
            <p>Returns</p>
            <p >Order Status</p>
            <h4>Payment Options</h4>
        </div>
        <div class="col">
            <h3>Online Shop</h3>
            <p>Watch</p>
            <p>Shoes</p>
            <p>Derss</p>
            <p>T-Shirt</p>
        </div>
    </div>
</footer>